.footer__sign-up {
    margin-top: 72px;
    margin-left: auto;
}
.footer__sign-up-from {
    display: flex;
}
.footer__sign-up-label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-bg-color;
    margin-right: 12px;
}
.footer__sign-up-text {
    margin-bottom: 20px;
    font-weight: bold;
}
.footer__sign-up-input {
    width: 358px;
    height: 50px;
    font-size: 16px;
    letter-spacing: 0.03em;
    background-color: $secondary-bg-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px $box-shadow);
    border-radius: 4px;
    padding: 15px 16px;
}
.footer__sign-up-input::placeholder {       
    color: rgba(255, 255, 255, 0.6);
}
.footer__sign-up-button {
    width: 200px;
    height: 50px;
    margin-top: 36px;
    display: flex;
    line-height: 30px;    
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: $primary-bg-color;
    background-color: $hover-color;
    box-shadow: 0px 4px 4px $box-shadow;
    border-radius: 4px;
    padding: 0;
    border: none;
}
.footer__sign-up-svg {
    margin-left: 10px;
    fill: $primary-bg-color;
}