.header__info-list{
    margin-top: 302px;
    display: flex;
    flex-direction: column-reverse;
}
.header__info-list li {
    margin-bottom: 32px;
}
.header__info-list li:nth-child(1) {
    margin-bottom: 0;
}
.header__info-link {
    height: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    color: $primary-text-color;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    &:hover,
    &:focus {
        color: $hover-color;   
        font-size: 34px; 
    }
}
.header__info-icon {
    margin-right: 10px;
    fill: currentColor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
    .header__info-link:hover &,
    .header__info-link:focus & {
        fill: $hover-color;
    }
}
@media screen and (max-width: 767px) {
    .header__info-icon {
      display: none;
    }
}