.header__button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: $primary-bg-color;
}
.header__button .header__icon-cross {
    display: none;
}
.header__button.is-open .header__icon-cross {
    display: block;
    // &:hover,
    // &:focus {
    //     fill: $hover-color;
    // }
}
.header__button.is-open .header__icon-menu {
    display: none;
    // &:hover,
    // &:focus {
    //     fill: $hover-color;
    // }
}
.header__block {
    display: none; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $primary-bg-color;
   
    &.is-open {
        display: block;
    }
}

.header__nav {
    margin-left: 93px;
}
.header__nav-list{
    display: flex;
    width: 294px;
    justify-content: space-between;    
}
.header__nav-roster {
    padding: 25px 0;
    position: relative;
}
.header__nav-line::after {
    position: absolute;
    content: ""; 
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: solid 4px $hover-color;
    border-radius: 2px;
}
.header__nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: $secondary-text-color;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    &:hover,
    &:focus {
        color: $hover-color;
    }
}
.header__general-link {
    color: $hover-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    &:hover,
    &:focus {
        color: $hover-color;
    }
}