.header__nav-roster {
    position: relative;
    margin-bottom: 32px;
}
.header__nav-roster:last-child {
    margin-bottom: 0;
}
.header__nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    color: $secondary-text-color;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    &:hover,
    &:focus {
        color: $hover-color;
    }
}
.header__general-link {
    color: $hover-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    &:hover,
    &:focus {
        color: $hover-color;
    }
}